/* ----------------------- */
/*API URL SITE WEB (https://open-meteo.com/) */
/* ------- RESET ---------*/
/* ----------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* -------------------------------------------------- */
/** FONT IMPACT REGULAR **/
@font-face {
    font-family:"impactregular";
    src: url("./fonts/impact/Impact.ttf");
}
/* -------------------------------------------------- */
/* ------------------ HOME PAGE-----------------------*/
/* -------------------------------------------------- */
/* IMG TEMPS METEO */
.day-jour {
    display: none;
}
.day-nuit {
    display: none;
}
/* ------------------- HEADER -----------------------*/
header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}
/*----- NAVBAR -----*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 25rem;
}
/* -------------------------------------------------- */
            /*----- MEDIA QUERIES -----*/
/* -------------------------------------------------- */
/* BODY */
@media screen and (min-width: 640px) {
    body {
        background-color: #ffffff;
    }
}
/* NAVBAR */
@media screen and (min-width: 640px) {
    .navbar {
        gap: 5rem;
    }
}

@media screen and (min-width: 240px) {
    .navbar {
        gap: 5rem;
    }
}
/* -------------------------------------------------- */
/* COLUMN 1 */
.column-day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.date-time {
    border: solid 1px #00000054;
    padding: 4rem;
    background-color: #ffffff62;
    border-radius: 5%;
}
.date-time .date{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.date-time .date p:first-child{
    font-size: 64px;
    font-family:"impactregular";
    color: #343553;
}
.date-time .date p:last-child{
    font-size: 32px;
    font-family:"impactregular";
    color: #343553;
}
.day {
    display: flex;
    gap: 1rem;
}
.column-day .carre-vide {
    border: solid 1px #00000054;
    height: 186px;
    width: 194px;
    background-color: #2783A0;
    border-radius: 5%;
}
.weather-img {
    border: solid 1px #00000054;
    border-radius: 5%;
    height: 186px;
    width: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff62;
}
/* -------------------------------------------------- */
/* COLUMN 2 */
.column-weather {
    border: solid 1px #00000054;
    background-color: #ffffff62;
    border-radius: 5%;
    padding: 2rem;
}
.column-weather .title-temps-actuel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem;
    width: 560px;
}
/* INFO METEO TITLE*/
.column-weather .title-temps-actuel p:first-child{
    color: #343553;
    font-family: "impactregular";
    font-size: 32px;
}
.column-weather .title-temps-actuel p:last-child{
    color: #343553;
    font-family: "impactregular";
    font-size: 64px;
}
/* -------------------------------------------------- */
/* COLUMN 3 */
.column-boussole {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
.column-boussole .carre-vide{
    border: solid 1px #00000054;
    height: 79px;
    width: 383px;
    background-color: #2783A0;
    border-radius: 5%;
}
.column-boussole .boussole img:first-child{
    height: 256px;
    width: 256px;
}
.vitesse-wind {
    display: flex;
    width: 100%;
    justify-content: center;
}
.wind-vitesse {
    color: #000000;
    font-family: "impactregular";
    font-size: 34px; 
}
/* BOUSSOLE */
.column-boussole .boussole {
    position: relative;
    border: solid 1px #00000054;
    background-color: #ffffff1a;
    border-radius: 5%;
    width: 383px;
    height: 381px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#fleche-boussole {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    transform: translate(-50%, -50%);
}
/* ------------------- MAIN -----------------------*/
/* --------- CARDS TEMP -----------*/
.container-weather {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.container-weather .cards-temp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid 1px #0000002a;
    padding: 1rem;
    gap: 1rem;
    background-color: #ffffff31;
    margin-top: 4rem;
}
.container-weather .cards-temp .item{
    border: solid 1px #00000052;
    border-radius: 5%;
    height: 152px;
    width: 152px;
    background-color: #ffffff62;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    padding: 1rem;
}

.container-weather .cards-temp .item p:nth-child(3){
    font-family: "impactregular";
    font-size: 25px;
    color: #343553;
}
.container-weather .cards-temp .item p:nth-child(2){
    font-size: 19px;
    font-family: "impactregular";
    color: #000000;
}

.container-weather .cards-temp .item .temp-meteo-temp{
    display: flex;
    gap: 1rem;
}

.container-weather .cards-temp .item .temp-meteo-pluies{
    display: flex;
    gap: 1rem;
}
/* --------- CARDS WEATHER -----------*/
.container-weather .cards-weather{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
    border: solid 1px #00000054;
    justify-content: space-around;
    border-radius: 5%;
    padding: 0.5rem;
    background-color: #ffffff31;
}
.container-weather .cards-weather .item{
    border: solid 1px #00000054;
    background-color: #ffffff62;
    height: 256px;
    width: 218px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5%;
    gap: 1rem;
    padding: 1rem;
}
.container-weather .cards-weather .item img{
    height: 95px;
    width: 95px;
}

/* DATE */
.container-weather .cards-weather .item p:first-child{
    font-family: "impactregular";
    font-size: 22px;
    color: #000000;
}

/* TEMPERATURE MAX */
.container-weather .cards-weather .item p:nth-child(3){
    font-family: "impactregular";
    font-size: 32px;
    color: #343553;
}

/* TEMPERATURE MIN */
.container-weather .cards-weather .item p:nth-child(4){
    font-family: "impactregular";
    font-size: 16px;
    color: #000000;
}